/* CARD */

.card-container {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 8px;
  border: 1px #ced4da solid;
  padding: 4rem 4.4rem;
  text-align: center;
}

.card-header {
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  justify-content: center;
  align-items: center;
}

.card-icon {
  width: 4rem;
  height: 4rem;
}

.card-title {
  color: black;
  font-size: 2.4rem;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  display: block;
}

.card-description {
  color: black;
  font-size: 1.8rem;
  font-family: Poppins;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 3.6rem;
}

.card-btn {
  color: #8064a2;
  font-size: 1.4rem;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.6rem;
  word-wrap: break-word;
  padding: 1.2rem 3rem;
  border-radius: 8px;
  border: 1px #8064a2 solid;
  background-color: white;
  cursor: pointer;
}

@media (min-width: 360px) {
  .card-header {
  }
}
@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .card-header {
    justify-content: start;
    align-items: center;
  }
  .card-container {
    text-align: left;
  }
}
