@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
}

@media (min-width: 480px) {
  .max-w-container {
    max-width: 36rem;
  }
  .icon-remove {
    display: none !important;
  }
  .navbar-container {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  .company-logo {
    width: 20px;
  }
}
@media (min-width: 768px) {
  .icon-remove {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .icon-remove {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .max-w-container {
    max-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
  }
  .icon-remove {
    display: block !important;
  }
}
