@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
}

@media (min-width: 360px) {
  .max-w-container {
    max-width: 36rem;
    min-height: 100vh;
    margin: 0 auto;
  }
  .icon-remove {
    display: none !important;
  }
  .navbar-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .company-logo {
    width: 15.6rem;
    height: 3.2rem;
  }

  .landing-wrapper {
    flex-direction: column;
  }
}
@media (min-width: 480px) {
  .max-w-container {
    max-width: 48rem;
    min-height: 100vh;
    margin: 0 auto;
  }
  .landing-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .max-w-container {
    max-width: 76.8rem;
    min-height: 100vh;
    margin: 0 auto;
  }
  .icon-remove {
    display: flex !important;
  }
  .navbar-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .landing-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .max-w-container {
    max-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
  }
  .icon-remove {
    display: flex !important;
  }
  .navbar-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
